params {
    ecr_registry = '125434852769.dkr.ecr.us-east-1.amazonaws.com'
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
    // Registry remapping disabled - using explicit container paths to avoid ambiguity
    // registry = params.ecr_registry
}

process {
withName: '.*' { conda = null }

// Containers hosted in ECR (use full explicit paths)
withName: '(.+:)?FASTP' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/fastp:1.0.1--heae3180_0' }
withName: '(.+:)?SPADES' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/community.wave.seqera.io/library/spades:4.1.0--77799c52e1d1054a' }
withName: '(.+:)?PROKKA' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/community.wave.seqera.io/library/prokka_openjdk:10546cadeef11472' }
withName: '(.+:)?CHECKM2_PREDICT' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/community.wave.seqera.io/library/checkm2:1.1.0--60f287bc25d7a10d' }
withName: '(.+:)?CHECKM2_DATABASEDOWNLOAD' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/community.wave.seqera.io/library/aria2:1.37.0--3a9ec328469995dd' }
withName: '(.+:)?MEGAHIT' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/community.wave.seqera.io/library/megahit_pigz:87a590163e594224' }
withName: '(.+:)?CONCOCT_CONCOCT' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/concoct:1.1.0--py312h245ed52_6' }
withName: '(.+:)?CONCOCT_EXTRACTFASTABINS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/concoct:1.1.0--py312h245ed52_6' }
withName: '(.+:)?CONCOCT_MERGECUTUPCLUSTERING' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/concoct:1.1.0--py312h245ed52_6' }
withName: '(.+:)?CONCOCT_CUTUPFASTA' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/concoct:1.1.0--py312h245ed52_6' }
withName: '(.+:)?CONCOCT_CONCOCTCOVERAGETABLE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/concoct:1.1.0--py312h245ed52_6' }
withName: '(.+:)?CHECKM_LINEAGEWF' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/checkm-genome:1.2.3--pyhdfd78af_1' }
withName: '(.+:)?CHECKM_QA' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/checkm-genome:1.2.3--pyhdfd78af_1' }
withName: '(.+:)?FILTLONG' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/filtlong:0.2.1--h9a82719_0' }
withName: '(.+:)?UNTAR' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?METABAT2_METABAT2' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/metabat2:2.15--h986a166_1' }
withName: '(.+:)?METABAT2_JGISUMMARIZEBAMCONTIGDEPTHS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/metabat2:2.15--h986a166_1' }
withName: '(.+:)?PYDAMAGE_FILTER' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/pydamage:0.70--pyhdfd78af_0' }
withName: '(.+:)?PYDAMAGE_ANALYZE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/uay/biocontainers/pydamage:0.70--pyhdfd78af_0' }
withName: '(.+:)?NANOPLOT' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/nanoplot:1.41.6--pyhdfd78af_0' }
withName: '(.+:)?BBMAP_BBNORM' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-008daec56b7aaf3f162d7866758142b9f889d690:e8a286b2e789c091bac0a57302cdc78aa0112353-0' }
withName: '(.+:)?KRONA_KTIMPORTTAXONOMY' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/krona:2.8--pl5262hdfd78af_2' }
withName: '(.+:)?SEQTK_MERGEPE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/seqtk:1.3--h5bf99c6_3' }
withName: '(.+:)?NANOQ' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/nanoq:0.10.0--h031d066_2' }
withName: '(.+:)?BCFTOOLS_VIEW' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/bcftools:1.17--haef29d1_0' }
withName: '(.+:)?BCFTOOLS_INDEX' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/bcftools:1.17--haef29d1_0' }
withName: '(.+:)?BCFTOOLS_CONSENSUS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/bcftools:1.17--haef29d1_0' }
withName: '(.+:)?TRIMMOMATIC' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/trimmomatic:0.39--hdfd78af_2' }
withName: '(.+:)?ADAPTERREMOVAL' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/adapterremoval:2.3.2--hb7ba0dd_0' }
withName: '(.+:)?CHOPPER' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/chopper:0.9.0--hdcf5f25_0' }
withName: '(.+:)?GUNZIP' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?SAMTOOLS_FAIDX' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/samtools:1.17--h00cdaf9_0' }
withName: '(.+:)?GENOMAD_ENDTOEND' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/genomad:1.5.2--pyhdfd78af_0' }
withName: '(.+:)?GENOMAD_DOWNLOAD' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/genomad:1.5.2--pyhdfd78af_0' }
withName: '(.+:)?FREEBAYES' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/freebayes:1.3.6--hbfe0e7f_2' }
withName: '(.+:)?GUNC_DOWNLOADDB' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/gunc:1.0.5--pyhdfd78af_0' }
withName: '(.+:)?GUNC_RUN' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/gunc:1.0.6--pyhdfd78af_0' }
withName: '(.+:)?GUNC_MERGECHECKM' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/gunc:1.0.6--pyhdfd78af_0' }
withName: '(.+:)?PRODIGAL' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-2e442ba7b07bfa102b9cf8fac6221263cd746ab8:57f05cfa73f769d6ed6d54144cb3aa2a6a6b17e0-0' }
withName: '(.+:)?FASTQC' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/fastqc:0.12.1--hdfd78af_0' }
withName: '(.+:)?NANOLYSE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/nanolyse:1.2.0--py_0' }
withName: '(.+:)?MMSEQS_DATABASES' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mmseqs2:14.7e284--pl5321h6a68c12_2' }
withName: '(.+:)?DASTOOL_FASTATOCONTIG2BIN' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/das_tool:1.1.6--r42hdfd78af_0' }
withName: '(.+:)?DASTOOL_DASTOOL' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/das_tool:1.1.6--r42hdfd78af_0' }
withName: '(.+:)?KRAKENTOOLS_KREPORT2KRONA' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/krakentools:1.2--pyh5e36f6f_0' }
withName: '(.+:)?METAEUK_EASYPREDICT' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/metaeuk:6.a5d39d9--pl5321hf1761c0_2' }
withName: '(.+:)?MAXBIN2' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/maxbin2:2.2.7--he1b5a44_2' }
withName: '(.+:)?TIARA_TIARA' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/tiara:1.0.3' }
withName: '(.+:)?MULTIQC' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/multiqc:1.27--pyhdfd78af_0' }
withName: '(.+:)?ARIA2' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/aria2:1.36.0' }
withName: '(.+:)?CAT_FASTQ' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?GTDBTK_CLASSIFYWF' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/gtdbtk:2.4.0--pyhdfd78af_1' }
withName: '(.+:)?PORECHOP_ABI' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/porechop_abi:0.5.0--py310h590eda1_0' }
withName: '(.+:)?PORECHOP_PORECHOP' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/porechop:0.2.4--py39h7cff6ad_2' }
withName: '(.+:)?POOL_SINGLE_READS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?MAG_DEPTHS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-e25d1fa2bb6cbacd47a4f8b2308bd01ba38c5dd7:75310f02364a762e6ba5206fcd11d7529534ed6e-0' }
withName: '(.+:)?BUSCO_SAVE_DOWNLOAD' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?CAT_SUMMARY' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/bioawk:1.0--hed695b0_5' }
withName: '(.+:)?KRAKEN2' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/kraken2:2.17.1--pl5321h077b44d_0' }
withName: '(.+:)?RENAME_POSTDASTOOL' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?POOL_PAIRED_READS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?QUAST_BINS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/quast:5.0.2--py37pl526hb5aa323_2' }
withName: '(.+:)?MAG_DEPTHS_PLOT' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-d14219255233ee6cacc427e28a7caf8ee42e8c91:0a22c7568e4a509925048454dad9ab37fa8fe776-0' }
withName: '(.+:)?BUSCO_DB_PREPARATION' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?CAT_DB_GENERATE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-75e2a26f10cbf3629edf2d1600db3fed5ebe6e04:eae321284604f7dabbdf121e3070bda907b91266-0' }
withName: '(.+:)?BOWTIE2_ASSEMBLY_BUILD' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/bowtie2:2.4.2--py38h1c8e9b9_1' }
withName: '(.+:)?QUAST_BINS_SUMMARY' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?RENAME_PREDASTOOL' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?TIARA_CLASSIFY' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-1021c2bc41756fa99bc402f461dad0d1c35358c1:b0c847e4fb89c343b04036e33b2daa19c4152cf5-0' }
withName: '(.+:)?BUSCO' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/busco:5.4.3--pyhdfd78af_0' }
withName: '(.+:)?BUSCO_SUMMARY' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/pandas:1.4.3' }
withName: '(.+:)?GTDBTK_SUMMARY' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/pandas:1.4.3' }
withName: '(.+:)?ADJUST_MAXBIN2_EXT' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?BOWTIE2_REMOVAL_BUILD' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/bowtie2:2.4.2--py38h1c8e9b9_1' }
withName: '(.+:)?BOWTIE2_ASSEMBLY_ALIGN' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-ac74a7f02cebcfcc07d8e8d1d750af9c83b4d45a:577a697be67b5ae9b16f637fd723b8263a3898b3-0' }
withName: '(.+:)?SPLIT_FASTA' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-e25d1fa2bb6cbacd47a4f8b2308bd01ba38c5dd7:75310f02364a762e6ba5206fcd11d7529534ed6e-0' }
withName: '(.+:)?CONVERT_DEPTHS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/bioawk:1.0--hed695b0_5' }
withName: '(.+:)?MAG_DEPTHS_SUMMARY' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/pandas:1.4.3' }
withName: '(.+:)?QUAST' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/quast:5.0.2--py37pl526hb5aa323_2' }
withName: '(.+:)?CAT_DB' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?COMBINE_TSV' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/bioawk:1.0--hed695b0_5' }
withName: '(.+:)?NANOLYSE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/nanolyse:1.1.0--py36_1' }
withName: '(.+:)?BIN_SUMMARY' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/pandas:1.4.3' }
withName: '(.+:)?CAT' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/cat:5.2.3--hdfd78af_1' }
withName: '(.+:)?BOWTIE2_REMOVAL_ALIGN' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/bowtie2:2.4.2--py38h1c8e9b9_1' }
withName: '(.+:)?GTDBTK_DB_PREPARATION' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?CENTRIFUGER_CENTRIFUGER' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/centrifuger:1.0.12--h077b44d_0' }
withName: '(.+:)?CENTRIFUGER_KREPORT' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/centrifuger:1.0.12--h077b44d_0' }
withName: '(.+:)?PLOT_TAXHITS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/lma_img:latest' }
withName: '(.+:)?PLOT_INDVTAXHITS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/lma_img:latest' }
withName: '(.+:)?BRACKEN_BRACKEN' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/community.wave.seqera.io/library/bracken:3.1--22a4e66ce04c5e01' }
withName: '(.+:)?TAXPASTA_STANDARDISE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/taxpasta:0.7.0--pyhdfd78af_1' }
withName: '(.+:)?TAXPASTA_MERGE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/taxpasta:0.7.0--pyhdfd78af_1' }
withName: '(.+:)?CENTRIFUGER_GET_DIR' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?KRAKENTOOLS_COMBINEKREPORTS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/krakentools:1.2.1--pyh7e72e81_0' }
withName: '(.+:)?BRACKEN_COMBINEBRACKENOUTPUTS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/community.wave.seqera.io/library/bracken:3.1--22a4e66ce04c5e01' }
withName: '(.+:)?PYRODIGAL' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-2fe9a8ce513c91df34b43a6610df94c3a2eb3bd0:da1134ad604a59a6f439bdcc3f6df690eba47e9a-0' }
withName: '(.+:)?MINIMAP2_ALIGN' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/community.wave.seqera.io/library/minimap2_samtools:33bb43c18d22e29c' }
withName: '(.+:)?MINIMAP2_INDEX' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/minimap2:2.29--h577a1d6_0' }
withName: '(.+:)?SEQKIT_STATS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/seqkit:2.9.0--h9ee0642_0' }
withName: '(.+:)?COMEBIN_RUNCOMEBIN' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/comebin:1.0.4--hdfd78af_0' }
withName: '(.+:)?GUNZIP_PYRODIGAL_FAA' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?GUNZIP_PYRODIGAL_FNA' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?GUNZIP_PYRODIGAL_GBK' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?SINGLEM_CLASSIFY' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/singlem:0.20.3--2393ee198091' }
withName: '(.+:)?SINGLEM_SUMMARISE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/singlem:0.20.3--2393ee198091' }
}
