params {
    ecr_registry = '125434852769.dkr.ecr.us-east-1.amazonaws.com'
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
    // Registry remapping disabled - using explicit container paths to avoid ambiguity
    // registry = params.ecr_registry
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?INTERPROSCAN' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/interproscan:5.59_91.0--hec16e2b_1' }
withName: '(.+:)?SEQKIT_SEQ' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/seqkit:2.9.0--h9ee0642_0' }
withName: '(.+:)?AMRFINDERPLUS_RUN' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/ncbi-amrfinderplus:4.0.23--hf69ffd2_0' }
withName: '(.+:)?AMRFINDERPLUS_UPDATE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/ncbi-amrfinderplus:4.0.23--hf69ffd2_0' }
withName: '(.+:)?AMPLIFY_PREDICT' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/amplify:2.0.0--py36hdfd78af_1' }
withName: '(.+:)?UNTAR' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:838ba80435a629f8' }
withName: '(.+:)?HMMER_HMMSEARCH' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/hmmer:3.4--hdbdd923_1' }
withName: '(.+:)?DEEPARG_DOWNLOADDATA' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/deeparg:1.0.4--pyhdfd78af_0' }
withName: '(.+:)?DEEPARG_PREDICT' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/deeparg:1.0.4--pyhdfd78af_0' }
withName: '(.+:)?GECCO_RUN' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/gecco:0.9.10--pyhdfd78af_0' }
withName: '(.+:)?AMPCOMBI2_COMPLETE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/ampcombi:2.0.1--pyhdfd78af_0' }
withName: '(.+:)?AMPCOMBI2_PARSETABLES' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/ampcombi:2.0.1--pyhdfd78af_0' }
withName: '(.+:)?AMPCOMBI2_CLUSTER' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/ampcombi:2.0.1--pyhdfd78af_0' }
withName: '(.+:)?PROKKA' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/community.wave.seqera.io/library/prokka_openjdk:10546cadeef11472' }
withName: '(.+:)?AMPIR' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/r-ampir:1.1.0' }
withName: '(.+:)?ARGNORM' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/argnorm:0.5.0--pyhdfd78af_0' }
withName: '(.+:)?DEEPBGC_PIPELINE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/deepbgc:0.1.31--pyhca03a8a_0' }
withName: '(.+:)?DEEPBGC_DOWNLOAD' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/deepbgc:0.1.31--pyhca03a8a_0' }
withName: '(.+:)?RGI_MAIN' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/rgi:6.0.5--pyh05cac1d_0' }
withName: '(.+:)?RGI_CARDANNOTATION' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/rgi:6.0.5--pyh05cac1d_0' }
withName: '(.+:)?GUNZIP' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:838ba80435a629f8' }
withName: '(.+:)?BAKTA_BAKTADBDOWNLOAD' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/bakta:1.10.4--pyhdfd78af_0' }
withName: '(.+:)?BAKTA_BAKTA' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/bakta:1.10.4--pyhdfd78af_0' }
withName: '(.+:)?PRODIGAL' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-2e442ba7b07bfa102b9cf8fac6221263cd746ab8:57f05cfa73f769d6ed6d54144cb3aa2a6a6b17e0-0' }
withName: '(.+:)?PYRODIGAL' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-2fe9a8ce513c91df34b43a6610df94c3a2eb3bd0:da1134ad604a59a6f439bdcc3f6df690eba47e9a-0' }
withName: '(.+:)?HAMRONIZATION_AMRFINDERPLUS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/hamronization:1.1.9--pyhdfd78af_0' }
withName: '(.+:)?HAMRONIZATION_DEEPARG' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/hamronization:1.1.9--pyhdfd78af_0' }
withName: '(.+:)?HAMRONIZATION_SUMMARIZE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/hamronization:1.1.9--pyhdfd78af_0' }
withName: '(.+:)?HAMRONIZATION_RGI' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/hamronization:1.1.9--pyhdfd78af_0' }
withName: '(.+:)?HAMRONIZATION_ABRICATE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/hamronization:1.1.9--pyhdfd78af_0' }
withName: '(.+:)?HAMRONIZATION_FARGENE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/hamronization:1.1.9--pyhdfd78af_0' }
withName: '(.+:)?ABRICATE_RUN' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/abricate:1.0.1--ha8f3691_1' }
withName: '(.+:)?MACREL_CONTIGS' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/macrel:1.4.0--pyh7e72e81_0' }
withName: '(.+:)?MMSEQS_TAXONOMY' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mmseqs2:17.b804f--hd6d6fdc_1' }
withName: '(.+:)?MMSEQS_CREATETSV' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mmseqs2:17.b804f--hd6d6fdc_1' }
withName: '(.+:)?MMSEQS_CREATEDB' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mmseqs2:17.b804f--hd6d6fdc_1' }
withName: '(.+:)?MMSEQS_DATABASES' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mmseqs2:17.b804f--hd6d6fdc_1' }
withName: '(.+:)?ANTISMASH_ANTISMASH' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/nf-core/antismash:8.0.1--pyhdfd78af_0' }
withName: '(.+:)?FARGENE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/fargene:0.1--py27h21c881e_4' }
withName: '(.+:)?MULTIQC' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/multiqc:1.29--pyhdfd78af_0' }
withName: '(.+:)?TABIX_BGZIP' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/htslib:1.20--h5efdd21_2' }
withName: '(.+:)?MERGE_TAXONOMY_COMBGC' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-27978155697a3671f3ef9aead4b5c823a02cc0b7:548df772fe13c0232a7eab1bc1deb98b495a05ab-0' }
withName: '(.+:)?MERGE_TAXONOMY_HAMRONIZATION' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-27978155697a3671f3ef9aead4b5c823a02cc0b7:548df772fe13c0232a7eab1bc1deb98b495a05ab-0' }
withName: '(.+:)?INTERPROSCAN_DATABASE' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/curl:7.80.0' }
withName: '(.+:)?MERGE_TAXONOMY_AMPCOMBI' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-27978155697a3671f3ef9aead4b5c823a02cc0b7:548df772fe13c0232a7eab1bc1deb98b495a05ab-0' }
withName: '(.+:)?COMBGC' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/mulled-v2-27978155697a3671f3ef9aead4b5c823a02cc0b7:548df772fe13c0232a7eab1bc1deb98b495a05ab-0' }
withName: '(.+:)?AMP_DATABASE_DOWNLOAD' { container = '125434852769.dkr.ecr.us-east-1.amazonaws.com/quay/biocontainers/ampcombi:2.0.1--pyhdfd78af_0' }
}
