params {
    ecr_registry = '125434852769.dkr.ecr.us-east-1.amazonaws.com'
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
    registry = params.ecr_registry
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?UNTAR' { container = 'quay/community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:838ba80435a629f8' }
withName: '(.+:)?HMMER_HMMSEARCH' { container = 'quay/biocontainers/hmmer:3.4--hdbdd923_1' }
withName: '(.+:)?SPADES' { container = 'quay/community.wave.seqera.io/library/spades:4.1.0--77799c52e1d1054a' }
withName: '(.+:)?BBMAP_ALIGN' { container = 'quay/community.wave.seqera.io/library/bbmap_pigz:07416fe99b090fa9' }
withName: '(.+:)?BBMAP_BBDUK' { container = 'quay/community.wave.seqera.io/library/bbmap_pigz:07416fe99b090fa9' }
withName: '(.+:)?BBMAP_BBNORM' { container = 'quay/community.wave.seqera.io/library/bbmap_pigz:07416fe99b090fa9' }
withName: '(.+:)?BBMAP_INDEX' { container = 'quay/community.wave.seqera.io/library/bbmap_pigz:07416fe99b090fa9' }
withName: '(.+:)?PROKKA' { container = 'quay/community.wave.seqera.io/library/prokka_openjdk:10546cadeef11472' }
withName: '(.+:)?SEQTK_SEQ' { container = 'quay/biocontainers/seqtk:1.4--he4a0461_1' }
withName: '(.+:)?SEQTK_MERGEPE' { container = 'quay/biocontainers/seqtk:1.4--he4a0461_1' }
withName: '(.+:)?PIGZ_COMPRESS' { container = 'quay/biocontainers/pigz:2.8' }
withName: '(.+:)?SAMTOOLS_SORT' { container = 'quay/biocontainers/samtools:1.21--h50ea8bc_0' }
withName: '(.+:)?SAMTOOLS_FLAGSTAT' { container = 'quay/biocontainers/samtools:1.21--h50ea8bc_0' }
withName: '(.+:)?SAMTOOLS_IDXSTATS' { container = 'quay/biocontainers/samtools:1.21--h50ea8bc_0' }
withName: '(.+:)?SAMTOOLS_STATS' { container = 'quay/biocontainers/samtools:1.21--h50ea8bc_0' }
withName: '(.+:)?SAMTOOLS_INDEX' { container = 'quay/biocontainers/samtools:1.21--h50ea8bc_0' }
withName: '(.+:)?PRODIGAL' { container = 'quay/biocontainers/mulled-v2-2e442ba7b07bfa102b9cf8fac6221263cd746ab8:57f05cfa73f769d6ed6d54144cb3aa2a6a6b17e0-0' }
withName: '(.+:)?FASTQC' { container = 'quay/biocontainers/fastqc:0.12.1--hdfd78af_0' }
withName: '(.+:)?SUBREAD_FEATURECOUNTS' { container = 'quay/biocontainers/subread:2.0.6--he4a0461_2' }
withName: '(.+:)?TRIMGALORE' { container = 'quay/community.wave.seqera.io/library/cutadapt_trim-galore_pigz:a98edd405b34582d' }
withName: '(.+:)?MULTIQC' { container = 'quay/biocontainers/multiqc:1.29--pyhdfd78af_0' }
withName: '(.+:)?CAT_FASTQ' { container = 'quay/community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:838ba80435a629f8' }
withName: '(.+:)?CAT_CAT' { container = 'quay/biocontainers/pigz:2.3.4' }
withName: '(.+:)?TAXONKIT_LINEAGE' { container = 'quay/biocontainers/taxonkit:0.18.0--h9ee0642_0' }
withName: '(.+:)?FORMATSPADES' { container = 'quay/biocontainers/gzip:1.11' }
withName: '(.+:)?FORMAT_PRODIGAL_GFF' { container = 'quay/biocontainers/gzip:1.11' }
withName: '(.+:)?SUMTAXONOMY' { container = 'quay/biocontainers/mulled-v2-b2ec1fea5791d428eebb8c8ea7409c350d31dada:a447f6b7a6afde38352b24c30ae9cd6e39df95c4-1' }
withName: '(.+:)?EGGNOG_MAPPER' { container = 'quay/biocontainers/eggnog-mapper:2.1.9--pyhdfd78af_0' }
withName: '(.+:)?EGGNOG_SUM' { container = 'quay/biocontainers/mulled-v2-b2ec1fea5791d428eebb8c8ea7409c350d31dada:a447f6b7a6afde38352b24c30ae9cd6e39df95c4-1' }
withName: '(.+:)?EGGNOG_DOWNLOAD' { container = 'quay/biocontainers/eggnog-mapper:2.1.9--pyhdfd78af_0' }
withName: '(.+:)?HMMRANK' { container = 'quay/biocontainers/mulled-v2-b2ec1fea5791d428eebb8c8ea7409c350d31dada:a447f6b7a6afde38352b24c30ae9cd6e39df95c4-1' }
withName: '(.+:)?WRITESPADESYAML' { container = 'quay/biocontainers/pigz:2.3.4' }
withName: '(.+:)?PROKKAGFF2TSV' { container = 'quay/biocontainers/mulled-v2-b2ec1fea5791d428eebb8c8ea7409c350d31dada:a447f6b7a6afde38352b24c30ae9cd6e39df95c4-1' }
withName: '(.+:)?KOFAMSCAN_UNIQUE' { container = 'quay/biocontainers/mulled-v2-b2ec1fea5791d428eebb8c8ea7409c350d31dada:a447f6b7a6afde38352b24c30ae9cd6e39df95c4-1' }
withName: '(.+:)?KOFAMSCAN_SUM' { container = 'quay/biocontainers/mulled-v2-b2ec1fea5791d428eebb8c8ea7409c350d31dada:a447f6b7a6afde38352b24c30ae9cd6e39df95c4-1' }
withName: '(.+:)?KOFAMSCAN_SCAN' { container = 'quay/quay.io/biocontainers/kofamscan:1.3.0--hdfd78af_2' }
withName: '(.+:)?KOFAMSCAN_DOWNLOAD' { container = 'quay/community.wave.seqera.io/library/wget:1.21.4--8b0fcde81c17be5e' }
withName: '(.+:)?SEQTK_HMMHITFAAS' { container = 'quay/biocontainers/seqtk:1.4--h577a1d6_3' }
withName: '(.+:)?UNPIGZ' { container = 'quay/biocontainers/pigz:2.3.4' }
withName: '(.+:)?MERGE_TABLES' { container = 'quay/biocontainers/mulled-v2-b2ec1fea5791d428eebb8c8ea7409c350d31dada:a447f6b7a6afde38352b24c30ae9cd6e39df95c4-1' }
withName: '(.+:)?TRANSRATE' { container = 'quay/biocontainers/transrate:1.0.3--hec16e2b_4' }
withName: '(.+:)?COLLECT_FEATURECOUNTS' { container = 'quay/biocontainers/mulled-v2-b2ec1fea5791d428eebb8c8ea7409c350d31dada:a447f6b7a6afde38352b24c30ae9cd6e39df95c4-1' }
withName: '(.+:)?COLLECT_STATS' { container = 'quay/biocontainers/mulled-v2-b2ec1fea5791d428eebb8c8ea7409c350d31dada:a447f6b7a6afde38352b24c30ae9cd6e39df95c4-1' }
withName: '(.+:)?FORMAT_DIAMOND_TAX_RANKLIST' { container = 'quay/biocontainers/mulled-v2-b2ec1fea5791d428eebb8c8ea7409c350d31dada:a447f6b7a6afde38352b24c30ae9cd6e39df95c4-1' }
withName: '(.+:)?FORMAT_DIAMOND_TAX_TAXDUMP' { container = 'quay/biocontainers/mulled-v2-b2ec1fea5791d428eebb8c8ea7409c350d31dada:a447f6b7a6afde38352b24c30ae9cd6e39df95c4-1' }
withName: '(.+:)?DIAMOND_BLASTP' { container = 'quay/biocontainers/diamond:2.1.10--h5ca1c30_3' }
withName: '(.+:)?FORMAT_EUKULELE_TAX' { container = 'quay/biocontainers/mulled-v2-b2ec1fea5791d428eebb8c8ea7409c350d31dada:a447f6b7a6afde38352b24c30ae9cd6e39df95c4-1' }
withName: '(.+:)?EUKULELE_SEARCH' { container = 'quay/biocontainers/eukulele:2.0.5--pyh723bec7_0' }
withName: '(.+:)?TRANSDECODER' { container = 'quay/biocontainers/transdecoder:5.7.1--pl5321hdfd78af_0' }
withName: '(.+:)?MEGAHIT_INTERLEAVED' { container = 'quay/biocontainers/mulled-v2-0f92c152b180c7cd39d9b0e6822f8c89ccb59c99:8ec213d21e5d03f9db54898a2baeaf8ec729b447-0' }
}
